
.userDashboardInfo {
    padding: 1.7rem 1.8rem 0;
    background: #fff;
    border-radius: 4px;
    
    .userData {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 2rem;

        .user {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;

            .userImg {
                position: relative;
                width: 100px;
                height: 100px;
                
                .img {
                    object-fit: contain;
                }
            }
        }

        .userNameNID {
            display: flex;
            flex-direction: column;
            gap: .7rem;

            span.name {
                font-size: 22px;
                font-weight: 500;
                line-height: 25.81px;
                color: #213F7D;
                text-transform: capitalize;
            }

            span.id {
                font-size: 14px;
                font-weight: 400;
                line-height: 16.42px;
                color: #545F7D;
            }
        }
    }
    
    .rating {
        border-right: 1px solid #545f7d48;
        border-left: 1px solid #545f7d48;
        padding: 1.2rem 1.9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .7rem;

        span.tier {
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 500;
            color: #545F7D;
            line-height: 16.42px;
        }

        .stars {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: .25rem;

            .star {
                position: relative;
                width: 16px;
                height: 16px;
                
                .img {
                    object-fit: contain;
                }
            }
        }
    }

    .userBank {
        display: flex;
        flex-direction: column;
        gap: .7rem;

        span.amount {
            font-size: 22px;
            font-weight: 500;
            line-height: 25.81px;
            color: #213F7D;
        }

        span.bank {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.08px;
            color: #213F7D;
        }
    }

    .tabs {
        margin-top: 2rem;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            justify-content: flex-start;
            column-gap: 3.6rem;
            row-gap: .5rem;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;


            li {
                font-size: 16px;
                font-weight: 400;

                button {
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid transparent;
                    cursor: pointer;
                    padding: 1rem 1.7rem .5rem;
                    line-height: 19.09px;

                    &:hover{
                        color: #39CDCC;
                        border-bottom: 2px solid #39CDCC;
                        line-height: 18.77px;
                    }
    
                    &.active{
                        color: #39CDCC;
                        border-bottom: 2px solid #39CDCC;
                        line-height: 18.77px;
                    }
                }
            }
        }
    }
}


@media (max-width: 1286px) {
    .userDashboardInfo {
        .tabs {
            margin-top: 2rem;

            ul {
                column-gap: .6rem;


                li {
                    font-size: 16px;
                    font-weight: 400;

                    button {
                        background: transparent;
                        border: none;
                        border-bottom: 2px solid transparent;
                        cursor: pointer;
                        padding: 1rem 1.7rem .5rem;
                        line-height: 19.09px;

                        &:hover{
                            color: #39CDCC;
                            border-bottom: 2px solid #39CDCC;
                            line-height: 18.77px;
                        }
        
                        &.active{
                            color: #39CDCC;
                            border-bottom: 2px solid #39CDCC;
                            line-height: 18.77px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1274px) {
    
}

@media (max-width: 1200px) {
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .userDashboardInfo {
        .userData {
            justify-content: center;

            .userNameNID {
                span.name {
                    font-size: 20px;
                    line-height: 23.81px;
                }
            }
        }
        
        .rating {
            border-right: none;
            border-left: none;
            border-top: 1px solid #545f7d48;
            border-bottom: 1px solid #545f7d48;
            align-items: center;
        }

        .userBank {
            align-items: center;

            span.amount {
                font-size: 20px;
                line-height: 23.81px;
            }
        }
    }
}