section.dashboard {
    padding-block: 3rem;
    padding-inline: 3.5rem;
    width: 80%;
    background: #f1f1f1;
    
    .headArea {
        display: flex;
        justify-content: space-between;
        margin-bottom: .3rem;
        padding-block: 0;
        
        .title {
            display: flex;
            align-items: center;

            h1 {
                margin: 0;
                font-size: 24px;
                font-weight: 500;
                line-height: 28.15px;
                color: #213F7D;
            }
        }
    }
}

@media (max-width: 1024px) {
    section.dashboard {
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }    
}